<div *ngIf="post" class="post-container">
  <div class="header">
    <mds-profile-pic [pictureSrc]="userProfile?.profilePictureURL" [imgSize]="'40px'" [userId]="userProfile?.id" />
    <mds-username class="username" [username]="userProfile?.username" [userId]="userProfile?.id" />
  </div>
  <div class="media">
    <mds-post-media [picturesURLs]="post.picturesURLs" />
  </div>
  <div class="actions">
    <mds-post-actions [post]="post" />
  </div>
  <div class="comments">
    <mds-post-comments [postId]="post.id" [comments]="comments" />
  </div>
</div>
