@use "colors" as *;
@use "sass:math" as math;

:host {
  display: block;
}

.picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--img-size);
  height: var(--img-size);
  border: 2px solid $primary;
  border-radius: calc(var(--img-size) / 2);
  overflow: hidden;

  mat-icon {
    color: $primary;
  }

  img {
    aspect-ratio: auto;
    width: var(--img-size);
    height: auto;
  }
}
