<div class="register-form-container">
  <div class="register-form-header">
    <h2 class="header-text">Register</h2>
  </div>

  <mds-error-box @openClosed *ngIf="!!registerError" [errorMsg]="registerError.errorMsg"></mds-error-box>

  <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="register-form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="e.g. example@mail.com" type="text" formControlName="email" />
        <mat-error *ngIf="email.invalid">{{ email | formControlErrorMessage : email.errors }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="register-form-field">
        <mat-label>Password</mat-label>
        <input matInput id="password" [type]="passwordVisible ? 'text' : 'password'" formControlName="password" />
        <mat-icon matSuffix [fontIcon]="passwordVisible ? 'visibility_off' : 'visibility'" (click)="toggleShow()" />
        <mat-error *ngIf="password.invalid">{{ password | formControlErrorMessage : password.errors }}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="register-form-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" />
        <mat-error *ngIf="confirmPassword.invalid">
          {{ confirmPassword | formControlErrorMessage : confirmPassword.errors }}
        </mat-error>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" class="register-button">Register</button>

    <p class="login">
      Already have an account?
      <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
