<div *ngIf="media" class="media-container">
    <img src="/api/{{media[idxMedia]}}">

    <div class="arrows-container">
        <button *ngIf="idxMedia > 0" (click)="onBackArrowClick()" mat-button class="arrow-back">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>

        <button *ngIf="idxMedia < media?.length! - 1" (click)="onForwardArrowClick()" mat-button class="arrow-forward">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="!media" class="media-container">
    Media failed to download!
</div>

<div *ngIf="postMetaData" class="metadata-container">
    <p>on {{formattedDate}}</p>
    <p>{{author?.username}} {{postMetaData.description}}</p>
</div>

<div *ngIf="!postMetaData" class="metadata-container">
    Metadata failed to download!
</div>


<button (click)="onToggleShowComments()" mat-button>
    <mat-icon>expand_more</mat-icon>
    View comments
</button>

<div *ngIf="postMetaData && showComments">
    <mds-comment-section [postId]="postMetaData.id"></mds-comment-section>
</div>