.arrows-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}

.arrow-back,
.arrow-forward {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #262626;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.arrow-back {
  left: 0;
}

.arrow-forward {
  right: 0;
}

.arrow-back:focus,
.arrow-forward:focus {
  outline: none;
}

.arrow-back:active,
.arrow-forward:active {
  background-color: #fafafa;
}


.media-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.media-container .media-img-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.media-container .media-img-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

:host {
  margin: 20px auto;
  max-width: 600px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
}

.metadata-container{
  font-size: 16px;
  font-weight: 600;
  color: #262626;
  margin: 16px;
}

