@use "variables" as *;
@use "mixins" as mixins;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.comments {
  flex-grow: 1;
  overflow: auto;
}

.add-comment {
  padding: 4px 8px;
  border-top: $separator-300;

  &.no-comments {
    border-top: none;
  }
}
