<div class="comment-container" [class.level-2]="level === 'level-2'">
  <div class="profile-pic">
    <mds-profile-pic
      [imgSize]="'40px'"
      [pictureSrc]="'api/' + userProfile?.profilePictureURL"
      [userId]="userProfile?.id"
    ></mds-profile-pic>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="comment-and-actions">
        <div class="comment">
          <mds-username [username]="userProfile?.username" [userId]="userProfile?.id" />
          <span>&nbsp;{{ comment.content }}</span>
        </div>

        <div class="actions">
          <span class="date">{{ dateFormatted }}</span>
          <button *ngIf="!isDescription" class="action-btn reply" (click)="onReplyClick()"><span>Reply</span></button>
          <button
            *ngIf="!isDescription && replies.length > 0"
            class="action-btn show-replies-btn"
            (click)="toggleReplies()"
          >
            <span>{{ showReplies ? "Hide replies" : "Show replies (" + replies.length + ")" }}</span>
          </button>
        </div>
      </div>
      <div *ngIf="!isDescription" class="like"><mds-comment-like [comment]="comment" /></div>
    </div>

    <div @openClosed *ngIf="isReplying" class="add-comment">
      <mds-input-send
        [horizontalPadding]="false"
        [placeholder]="'Add a reply...'"
        [(content)]="replyContent"
        (send)="addReply()"
      >
        <button class="extra-buttons cancel-reply-btn" mat-icon-button title="Cancel" (click)="cancelReply()">
          <mat-icon>close</mat-icon>
        </button>
      </mds-input-send>
    </div>

    <div @openClosed *ngIf="showReplies" class="replies-container">
      <mds-post-comment
        *ngFor="let reply of replies"
        level="level-2"
        [comment]="reply"
        (reply)="addReplyFromChild($event)"
      ></mds-post-comment>
    </div>
  </div>
</div>
