@use "colors" as *;
@use "variables" as *;
@use "mixins" as mixins;
@use "typography-levels" as typography-levels;

.comment-container {
  display: flex;
  flex-direction: row;
  padding: 8px;

  &.level-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

.profile-pic {
  margin-right: 8px;
}

.content-container {
  flex-grow: 1;

  .content {
    display: flex;
    flex-direction: row;

    .comment-and-actions {
      flex-grow: 1;
    }
  }

  .replies-container {
    padding-top: 8px;
  }
}

.actions {
  @include typography-levels.small();
  color: $gray-600;

  .action-btn {
    @include typography-levels.small();
    color: $gray-600;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
  }

  .date, .reply {
    margin-right: 8px;
  }
}

.add-comment {
  .cancel-reply-btn {
    @include mixins.icon-button(32px);
    margin-left: 8px;

    mat-icon {
      @include mixins.mat-icon(32px, 20px);
    }
  }
}

.like {
  flex-shrink: 0;
  margin-left: 8px;
}
