@use "@angular/material" as mat;
@use "palettes" as palettes;

// Hues from palettes

$primary: mat.get-color-from-palette(palettes.$project-primary-palette);
$primary-800: mat.get-color-from-palette(palettes.$project-primary-palette, 800);

$warn: mat.get-color-from-palette(palettes.$project-warn-palette);
$warn-50: mat.get-color-from-palette(palettes.$project-warn-palette, 50);

$pure-white: #FFFFFF;
$gray-100: mat.get-color-from-palette(mat.$gray-palette, 100);
$gray-300: mat.get-color-from-palette(mat.$gray-palette, 300);
$gray-900: mat.get-color-from-palette(mat.$gray-palette, 900);

// Aliases for colors used in the app

$very-light-text-color: $pure-white;

$navbar-bkg-color: $gray-900;
$navbar-txt-color: $pure-white;
