@use '@angular/material' as mat;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$project-primary-palette: mat.define-palette(mat.$cyan-palette, 500);
$project-accent-palette: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$project-warn-palette: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$project-theme: mat.define-light-theme((
  color: (
    primary: $project-primary-palette,
    accent: $project-accent-palette,
    warn: $project-warn-palette,
  )
));
