@use "colors" as *;

$navbar-height: 80px;

$post-image-height: 600px;
$post-image-aspect-ratio: 2 / 3;
$post-image-width: $post-image-height * $post-image-aspect-ratio;

$separator-300: 1px solid $gray-300;
