@use "mixins" as mixins;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 8px;

  &.no-horizontal-padding {
    padding-left: 0;
    padding-right: 0;
  }

  .input {
    flex-grow: 1;
    resize: none;
    border: none;
    font-family: inherit;

    &:focus {
      outline: none;
    }
  }

  .send-btn, .cancel-reply-btn {
    @include mixins.icon-button(32px);
    margin-left: 8px;

    mat-icon {
      @include mixins.mat-icon(32px, 20px);
    }
  }
}
