<form *ngIf="!userInfo" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="text" formControlName="email">
  </div>

  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="text" formControlName="password">
  </div>

  <button class="button" type="submit">Login</button>

</form>

<h1 *ngIf="userInfo">
    {{userInfo.id}}
  <button (click)="onLogOut()"> LogOut </button>
</h1>

<form [formGroup]="signupForm" (ngSubmit)="onSignUp()">

  <div>
    <label for="email">
      Email
    </label>
    <input id="email" type="text" formControlName="email">
  </div>

  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="text" formControlName="password">
  </div>

  <button class="button" type="submit">Sign up</button>

</form>

<form [formGroup]="postForm" (ngSubmit)="onCreatePost()">

  <div>
    <label for="description">
      Description
    </label>
    <input id="description" type="text" formControlName="description">
  </div>

  <div>
    <label for="picturesURLs">
      Pictures
    </label>
    <input id="picturesURLs" type="text" formControlName="picturesURLs">
  </div>

  <button class="button" type="submit">Create post</button>

</form>

<h1 *ngIf="userInfo">
  Post !!!
</h1>

<p *ngIf="post">
  {{post.id}}
</p>

<p *ngIf="post">
  {{post.userId}}
</p>

<form [formGroup]="deletePostForm" (ngSubmit)="onDeletePost()">

  <div>
    <label for="id">
      Post id
    </label>
    <input id="id" type="text" formControlName="id">
  </div>

  <button class="button" type="submit">Delete post</button>

</form>