:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.feed-post {
  margin-top: 16px;
  margin-bottom: 32px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
