@use "colors" as *;
@use "mixins" as mixins;

$border: 1px solid $gray-300;
$comments-width: 400px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.post {
  @include mixins.content-container(fit-content, 0);
  display: flex;
  flex-direction: row;
  border-radius: 0;
  border: $border;
}

.post-media {
  border-right: $border;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-bottom: $border;

  .profile-pic {
    margin-right: 8px;
  }

  .username {
    font-weight: 400;
  }
}

.profile-link {
  cursor: pointer;
}

.post-comments {
  width: $comments-width;
}
