@use "colors" as *;
@use "variables" as *;
@use "mixins" as mixins;

$comments-width: 400px;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.post {
  @include mixins.content-container(fit-content, 0);
  display: flex;
  flex-direction: row;
  border-radius: 0;
  border: $separator-300;
}

.post-media {
  height: $image-height;
  width: $image-width;
  border-right: $separator-300;
}

.right-panel {
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  border-bottom: $separator-300;

  .profile-pic {
    margin-right: 8px;
  }

  .username {
    font-weight: 400;
  }
}

.profile-link {
  cursor: pointer;
}

.post-comments {
  flex-grow: 1;
  width: $comments-width;
}
