<p>login works!</p>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email:</label>
    <input id="email" type="text" formControlName="email" />
    <p>Email: {{ loginForm.controls.email.valueChanges | async }}</p>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" type="text" formControlName="password" />
    <p>Password: {{ loginForm.controls.password.valueChanges | async }}</p>
  </div>

  <button type="submit">Login</button>
</form>
