@use "colors" as *;
@use "mixins" as mixins;

@mixin mat-icon($size, $font-size: calc($size * 0.75)) {
  font-size: $font-size;
  line-height: $size;
  height: $size;
  width: $size;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $body-bkg-color;
  height: 100%;
}

.login-form-container {
  @include mixins.content-container(400px, 0);

  .login-form-header {
    border-bottom: 2px solid $gray-300;

    .header-text {
      text-align: center;
      color: $primary-800;
      font-weight: 500;
    }
  }

  .login-form {
    padding: 32px;
  }

  .login-form-field {
    width: 100%;
    margin-bottom: 8px;

    transition: transform 0.25s;

    div {
      display: flex;

      .fa {
        transform: translateY(-7px);
      }
    }

  }

  .login-button {
    height: 40px;
    width: 100%;
    color: $very-light-text-color;
    text-transform: uppercase;
  }

  #password {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      letter-spacing: 0.125em;
  }
}

.create-account {
  text-align: center;
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: $primary;
  }
}


mds-error-box {
  margin: 32px 32px 0 32px;
}
