@use "colors" as *;
@use "mixins" as mixins;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $body-bkg-color;
  height: 100%;
}

.login-form-container {
  @include mixins.content-container(400px, 0);

  .login-form-header {
    border-bottom: 2px solid $gray-300;

    .header-text {
      text-align: center;
      color: $primary-800;
      font-weight: 500;
    }
  }

  .login-form {
    padding: 32px;
  }

  .login-form-field {
    width: 100%;
    margin-bottom: 8px;
  }

  .login-button {
    height: 40px;
    width: 100%;
    color: $very-light-text-color;
    text-transform: uppercase;
  }
}

.create-account {
  text-align: center;
  margin-bottom: 0;

  a {
    text-decoration: none;
    color: $primary;
  }
}

mds-error-box {
  margin: 32px 32px 0 32px;
}
