@use "colors" as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray-100;
  height: 100vh;
  overflow-y: auto;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 80%;
}

.card {
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 10px;
  width: 100%;
}

.profile-section {
  display: flex;
  align-items: flex-start;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30%;
}

.rounded-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #000000;
  box-shadow: 0px 2px 50px 2px rgba(121, 121, 121, 0.75);
  transition: all 0.3s ease;
}

.rounded-image:hover {
  transform: scale(1.1);
}

.username {
  margin-top: 10px;
  margin-left: 40px;
  color: #333333;
}

.edit-profile-button {
  background-color: #a2a2a2;
  border: none;
  margin-left: 30px;
}

.follow-button {
  margin-left: 30px;
  background-color: #00aeff;
}


.profile-info {
  display: flex;
  flex-direction: column;
}

.username-container {
  display: flex;
  align-items: center;
}

.follow-info {
  margin-left: 20px;
}

.bio {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.bio p {
  color: #777777;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
}

.post-card {
  position: relative;
  aspect-ratio: 1/1;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.5);

}

.post-image {
  width: 100%;
  max-height: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.post-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.post-card:hover .post-overlay {
  opacity: 1;
}

.likes,
.comments {
  display: flex;
  align-items: center;
  color: #ffffff;
  margin-bottom: 10px;
}

.likes mat-icon,
.comments mat-icon {
  margin-right: 5px;
}
