@use "colors" as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray-100;
  height: 100%;
}

.edit-profile-form-container {
  display: flex;
  flex-direction: column;
  background-color: $pure-white;
  width: 400px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px $gray-300;

  .edit-profile-form-header {
    border-bottom: 2px solid $gray-300;

    .header-text {
      text-align: center;
      color: $primary-800;
      font-weight: 500;
    }
  }

  .edit-profile-form {
    padding: 32px;
  }

  .edit-profile-form-field {
    width: 100%;
    margin-bottom: 8px;
  }

  .confirm-button {
    height: 40px;
    width: 100%;
    color: $very-light-text-color;
    text-transform: uppercase;
  }

  .choose-photo-btn {
    background-color: #2196f3;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  .photo-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #cccccc;
    border-radius: 4px;
    padding: 16px;
    width: 300px;
  }

  .photo-preview img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  .photo-name {
    font-size: 14px;
    color: #444444;
    margin: 0;
  }

  input[type="file"] {
    display: none;
  }
}


mds-error-box {
  margin: 32px 32px 0 32px;
}
