
<div *ngIf="media" class="media-container">
    <img src="/api/{{media[idxMedia]}}">

    <div class="arrows-container">
        <button (click)="onBackArrowClick()" mat-button class="arrow-back">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
    
        <button (click)="onForwardArrowClick()" mat-button class="arrow-forward">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
</div>

<div *ngIf="!media" class="media-container">
    Media failed to download!
</div>

<div *ngIf="postMetaData" class="metadata-container">
    <p>on {{postMetaData.createdAt}}</p>
    <p>{{author?.username}} {{postMetaData.description}}</p>
</div>

<div *ngIf="!postMetaData" class="metadata-container">
    Metadata failed to download!
</div>