<div *ngIf="rootComments" class="comment-section-container">
    <div *ngFor="let root of rootComments" class="root-section-container">
        <div class="root-comment">
            {{root.author?.username}} {{root.metadata?.content}}
            <button (click)="onShowRepliesClick(root.metadata?.id!)" mat-button>
                <mat-icon>expand_more</mat-icon>
                View replies
            </button>

            <button (click)="onToggleReplyComponent(root.metadata?.id!)" mat-button>
                <mat-icon>reply</mat-icon>
                Reply
            </button>

            <mds-comment-create *ngIf="isCommentReply(root.metadata?.id!)" [parentId]="root.metadata?.id"
                [postId]="postId"></mds-comment-create>

            <div *ngIf="showReplies[root.metadata?.id!]">
                <div *ngFor="let child of childComments[root.metadata?.id!]" class="child-section-container">
                    <div class="child-comment">
                        {{child.author?.username}} {{child.metadata?.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button (click)="onToggleReplyComponent('')" mat-button>
        <mat-icon>reply</mat-icon>
        Reply
    </button>

    <mds-comment-create *ngIf="isPostReply()" [postId]="postId"></mds-comment-create>
</div>

<div *ngIf="!rootComments" class="comment-section-container">
    Failed to load post replies!
</div>