@use "theme/themes" as *;

/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
